@model UpdateBrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Yeni Markası Güncelleme</h4>
                        <p class="card-subtitle mb-4">Araç Markası ile ilgili temel bilgileri eksiksiz şekilde doldurmanız önemlidir.Kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz.</p>

                        <form method="post">
                            <input type="hidden" asp-for="brandId" />
                            <div class="form-group">
                                <label for="exampleInputModel">Marka Adı</label>
                                <input type="text" asp-for="name" class="form-control" id="exampleInputModel" placeholder="Marka Adı Yazınız">
                            </div>



                            <button type="submit" class="btn btn-primary waves-effect waves-light">Arac Markasını Kaydet</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

