@model CreateLocationDto
@{
    ViewData["Title"] = "CreateLocation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Lokasyon Girişi</h4>
                        <p class="card-subtitle mb-4">Lokasyon alanına aşşağıdan veri girebilirsiniz.</p>


                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputModel">Lokasyon Başlığı</label>
                                <input type="text" asp-for="Name" class="form-control" id="exampleInputModel" placeholder="Lokasyon Başlığı">
                            </div>


                            <button type="submit" class="btn btn-primary waves-effect waves-light">Lokasyon Kaydet</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

